*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration:none ;
}
header {
  background-color: rgb(161, 150, 47);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90px;
}
ul {
  display: flex;
  gap: 10px;
 
}